.custom-color {
  color: #444;
}
a.buyTicketBtn {
    display: inline-block;
	border: 2px solid #f38d10;
	width: 120px;
	height: 90px;
	padding: 5px 6px 7px;
	box-sizing: border-box;
	border-radius: 10px;
	color: transparent;
	overflow: hidden;
}
a.buyTicketBtn i {
	display: block;
	background:url('images/Buy-Ticket.jpg') center no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	font-size: 37px;
    line-height: 27px;
}
.mce-content-body a.buyTicketBtn[data-mce-selected] {
	border: 2px solid #0085ba;
	border-radius: 10px;
	background-color: transparent;
	box-shadow: 0 0 0 3px #bfe6ff;
}