.main-navigation {
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.menu {
		position: relative;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
			right: -15px;
		}
	}
	.menu a {
		display: inline-block;
		text-decoration: none;
		color: $color__text-main;
		&:hover {
			color: $color-orange;
		}
	}
	.menu li {
		position: relative;
	}
	.menu > li {
		@media screen and (min-width: $tabwidth) {
			float: left;
		}
	}
	.menu > li > a {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.3;
		@media screen and (min-width: $tabwidth) {
			display: block;
			padding: 8px 0;
			span {
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px;
				border-left: 1px solid $color-orange;
			}
		}
	}
	.menu > li:first-child > a {
		@media screen and (min-width: $tabwidth) {
			span {
				border-left: none;
			}
		}
	}
	

}

